<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Battleship</title>
</head>
<body>
  <main style="margin: 1em;">
    <h3>Game Board</h3>
    <div class="order-1 order-md-0 w-50">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
            <th scope="col">I</th>
            <th scope="col">J</th>
          </tr>
        </thead>
        <tbody>
          <% let row = 1 %>
          <% for (const col in b) { %>
            <tr>
              <td><%= row++ %></td>
                <% for (const row in b[col]) { %>
                  <td>
                    <form method="POST" action="/game">
                      <input type="hidden" name="col" value=<%= col %>>
                      <input type="hidden" name="row" value=<%= row %>>
                      <button type="submit"><%= b[col][row] %></button>
                    </form>
                  </td>
                <% } %>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
    <div>
      <form method="POST" action="/ship">
        <table class="table">
          <thead>
            <tr>
              <% for (const ship in s) { %>
                <td><label class="radio-inline">
                  <% if (s[ship].placed) { %>
                    <%= s[ship].name %> ✅
                  <% } else { %>
                    <input type="radio" name="ship" value=<%= ship %>> <%= s[ship].name %> ❌
                  <% } %>
                </label></td>
              <% } %>
            </tr>
          </thead>
        </table>
        
        Start
        <select class="select-inline" name="placeRowStart">
            <option value="0">1</option>
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
          </select>
        <select class="select-inline" name="placeColStart">
            <option value="0">A</option>
            <option value="1">B</option>
            <option value="2">C</option>
            <option value="3">D</option>
            <option value="4">E</option>
            <option value="5">F</option>
            <option value="6">G</option>
            <option value="7">H</option>
            <option value="8">I</option>
            <option value="9">J</option>
          </select>
        
        End
        <select class="select-inline" name="placeRowEnd">
            <option value="0">1</option>
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
        </select>
        <select class="select-inline" name="placeColEnd">
            <option value="0">A</option>
            <option value="1">B</option>
            <option value="2">C</option>
            <option value="3">D</option>
            <option value="4">E</option>
            <option value="5">F</option>
            <option value="6">G</option>
            <option value="7">H</option>
            <option value="8">I</option>
            <option value="9">J</option>
          </select>
        
        <button type="submit" class="button-inline">Submit</button>
      </form>
      <% if (p) { %>
      <form method="POST" action="/start">
        <button type="submit" class="button-inline">Start</button>
      </form>
      <% } %>
    </div>
  </main>
  <!-- Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
